@import url('https://fonts.googleapis.com/css2?family=Dynapuff&display=swap');

#quem-somos {
    font-family: 'Dynapuff', cursive;
    background: #f7f0f8;
    text-align: center;
    padding: 50px 20px;
    color: #fff;
}

#quem-somos h2 {
    font-size: 2.8em;
    color: #a16cd6;
    text-shadow: 2px 2px #fff;
    margin-bottom: 20px;
}

#quem-somos p {
    font-size: 1.2em;
    color: #333;
    max-width: 800px;
    margin: 0 auto 30px;
    line-height: 1.6;
    text-shadow: 1px 1px #fff;
}

.logo {
    margin: 40px 0;
}

.logo img {
    width: 130px;
}

.logo h3 {
    font-size: 2em;
    color: #a16cd6;
    margin-top: 10px;
    text-shadow: 1px 1px #fff;
}

.integrantes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
}

.membro {
    font-size:20px;
    text-align: center;
}

.membro img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #6e3ea8;
    background: #fff;
    padding: 5px;
}

.membro p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1em;
    color: #000;
}
